---
import Card from "../components/ui/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import TerminalPrompt from "../components/ui/TerminalPrompt.astro";
import SectionHeading from "../components/ui/SectionHeading.astro";
import GalleryItem from "../components/GalleryItem.astro";

const gallery: Array<{
    title: string;
    caption: string;
    media: string;
    tags?: string[];
}> = [
    {
        title: "Placement system",
        caption: "Rust-like placement system",
        media: "port-1.mp4",
        tags: ["Roblox"],
    },
    {
        title: "Night/thermal vision",
        caption: "NVGs/TVGs for a combat game",
        media: "port-2.mp4",
        tags: ["Roblox"],
    },
    {
        title: "Tank projectile",
        caption: "Animated & functional tank projectiles",
        media: "port-3.mp4",
        tags: ["Roblox"],
    },
    {
        title: "Weapon holster",
        caption: "Simple weapon holstering system",
        media: "port-4.mp4",
        tags: ["Roblox"],
    },
    {
        title: "Proning system",
        caption: "First-person proning",
        media: "port-5.mp4",
        tags: ["Roblox"],
    },
    {
        title: "Tank aiming system",
        caption: "Advanced multi-axial point-to-aim system",
        media: "port-6.mp4",
        tags: ["Roblox"],
    },
    {
        title: "Battleship camera",
        caption: "Top-down ocean camera",
        media: "port-7.mp4",
        tags: ["Roblox"],
    },
];
---

<BaseLayout navbarActiveItemID="gallery">
    <main>
        <section id="about" aria-labelledby="about-heading">
            <Card class="container">
                <SectionHeading as="h1">📝 Gallery</SectionHeading>
                <div class="space-y-2" role="list">
                    {
                        gallery.map((project, _) => (
                            <GalleryItem
                                title={project.title}
                                caption={project.caption}
                                tags={project.tags}
                            >
                                <video
                                    src={"/" + project.media}
                                    controls
                                    class="w-full h-full object-cover"
                                    slot="media"
                                />
                            </GalleryItem>
                        ))
                    }
                </div>
                <TerminalPrompt
                    command={`ls -la gallery/ | total ${gallery.length}`}
                />
            </Card>
        </section>
    </main>
</BaseLayout>
