---
import ThemeToggle from "./ThemeToggle.astro";
import "../styles/tooltip.css";
import { NAV_LINKS } from "../config";

const { navbarActiveItemID } = Astro.props;
const activeClasses = ["text-accent", "font-semibold"];
---

<header id="main-header" class="px-2 md:px-6 py-4 relative z-50">
    <div class="mx-auto">
        <div
            class="bg-white/70 dark:bg-black/10 backdrop-blur-lg border rounded-lg font-mono text-sm transition-all duration-300 border-gray-400/50 dark:border-gray-400/30 hover:shadow-sm dark:hover:shadow-md dark:hover:shadow-black/20"
        >
            <nav
                id="navigation-menu"
                aria-label="Main menu"
                class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-3 sm:gap-4 px-4 py-3"
            >
                <div
                    class="flex items-center justify-between sm:justify-start gap-2"
                >
                    <div class="flex items-center gap-2">
                        <span class="text-secondary">$</span>
                        <span class="text-muted">./</span>
                        <a
                            href="/"
                            target="_self"
                            class="text-primary font-medium hover:text-accent transition-colors duration-200"
                        >
                            xnlogical
                        </a>
                    </div>
                    <ThemeToggle class="sm:hidden" />
                </div>
                <div
                    class="flex flex-wrap items-center gap-3 sm:gap-4 text-xs overflow-visible"
                >
                    {
                        NAV_LINKS.map((link) => {
                            return (
                                <a
                                    href={link.redirect ?? link.url}
                                    target={link.redirect ? "_blank" : "_self"}
                                    id={link.id}
                                    class:list={[
                                        "text-secondary hover:text-accent transition-all duration-200",
                                        link.tooltip && "tooltip",
                                    ]}
                                    data-tooltip={link.tooltip}
                                >
                                    {link.title}
                                </a>
                            );
                        })
                    }
                    <ThemeToggle class="hidden sm:block" />
                </div>
            </nav>
        </div>
    </div>
</header>

<script
    define:vars={{
        navbarActiveItemID,
        activeClasses,
    }}
>
    const activeItemElement = document.getElementById(navbarActiveItemID);

    if (activeItemElement) {
        activeClasses.forEach((activeClass) => {
            activeItemElement.classList.add(activeClass);
        });
    }
</script>
