---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import StarfieldBackground from "../components/Starfield.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

const {
    image,
    title = SITE_TITLE,
    description = SITE_DESCRIPTION,
    navbarActiveItemID,
} = Astro.props;
---

<!doctype html>
<html
    lang="en"
    transition:animate="none"
    class="bg-background text-secondary selection:bg-orange-600/80 selection:text-white"
>
    <head>
        <BaseHead title={title} description={description} image={image} />
    </head>
    <body class="xl:w-[60rem] lg:w-4/5 w-full mx-auto font-sans relative">
        <StarfieldBackground />
        <div>
            <Header navbarActiveItemID={navbarActiveItemID} />
            <main id="main" class="px-2 md:px-6 pb-12">
                <slot />
            </main>
        </div>
        <noise> </noise>
    </body>
</html>
